section {
  padding: 1rem;
}

.l_main_title::after {
  content: "";
  position: absolute;
  width: 1px;
  height: 2.4rem;
  margin-left: .1rem;
  border-right: .05em solid #464545;
  animation: blink 0.7s infinite ease;
  animation-delay: 0.4s;
  opacity: 0;
}

.l_search_div {
  padding: 1rem 6rem;
  height: 74px;
  width: 660px;
  overflow: hidden;
  white-space: nowrap;
  line-height: 74px;
  border: solid 1px #e6e6e6;
  border-radius: 2.8em;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.25);
}

.l_menu_tab {
  color: #9ca3af;
  position: relative;
}

.l_menu_tab.active {
  color: #3b82f6;
  box-shadow: inset 0 -4px 0 #FAAD1A;
}

/* 사이드메뉴 햄버거 버튼 S */
.l_hamburger_menu,
.l_hamburger_menu:after,
.l_hamburger_menu:before {
  width: 40px; /* 바의 너비 */
  height: 8px; /* 바의 높이 */
  border-radius: 2px; /* 바의 테두리 */
  opacity: 0.8;
  background: #FAAD1A; /* 바의 색상 */
}

.l_hamburger_menu {
  z-index: 100;
  position: absolute;
  top: -.4rem;
  right: .5rem;
  margin: 30px;
  transition: all 300ms;
}

.l_hamburger_menu.animate {
  background: rgba(255, 255, 255, 0); /* 애니메이션 상태일 때 배경 투명화 */
}

.l_hamburger_menu:before,
.l_hamburger_menu:after {
  content: ""; /* 바의 내용 */
  position: absolute;
  width: 100%; /* 바의 너비 */
  height: 100%; /* 바의 높이 */
  transition: all 300ms ease; /* 애니메이션 효과 */
}

.l_hamburger_menu:before {
  top: -10px; /* 위쪽 바 */
}

.l_hamburger_menu:after {
  bottom: -10px; /* 아래쪽 바 */
}

.l_hamburger_menu.animate:before {
  transform: rotate(45deg); /* 위쪽 바 회전 */
  top: 0; /* 위치 조정 */
}

.l_hamburger_menu.animate:after {
  transform: rotate(-45deg); /* 아래쪽 바 회전 */
  bottom: 0; /* 위치 조정 */
}
/* 사이드메뉴 햄버거 버튼 E */

/* 프로젝트 필터 */
.l_pjfilter {
  color: #F6F1E3;
}
.l_pjfilter .selected {
  color: #FAAD1A;
}

@keyframes blink {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@media (max-width: 1024px) {
  .l_main_title::after {
    height: 2rem;
  }

  .l_search_div {
    padding: .8rem 5rem;
    width: 400px;
    height: 60px;
    line-height: 60px;
  }
}

@media (max-width: 768px) {
  .l_main_title::after {
    height: 1.5rem;
  }

  .l_search_div {
    padding: .5rem 3rem;
    width: 300px;
    height: 45px;
    line-height: 45px;
  }
}