@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CommonFont';
  src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFontBlack';
  src: url('/fonts/Hakgyoansim Puzzle TTF Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFontOutline';
  src: url('/fonts/Hakgyoansim Puzzle TTF Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RiaSansFont';
  src: url('/fonts/RiaSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CommonFont', sans-serif;
}
