@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CommonFont';
  src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFontBlack';
  src: url('/fonts/Hakgyoansim Puzzle TTF Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFontOutline';
  src: url('/fonts/Hakgyoansim Puzzle TTF Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RiaSansFont';
  src: url('/fonts/RiaSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CommonFont', sans-serif;
}

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
}

:root {
  --theme-1: #f7f4ed;
  --theme-1-5: #efe2c6;
  --theme-2: #f59e0b;
  --theme-3: #1f2a24;
  --theme-4: #2563eb;
  --theme-bg: #ffffff;
  --theme-fg: #111827;

  --custom-bg: #f5efe6;
  --custom-fg: #2e2a26;
}

.dark {
  --theme-1: #1b232b;
  --theme-1-5: #222d36;
  --theme-2: #f4b05e;
  --theme-3: #141c21;
  --theme-4: #7aa6ff;
  --theme-bg: #1b232b;
  --theme-fg: #e6edf3;
}

.theme-custom {
  --theme-1: #f1f5ff;
  --theme-1-5: #e0e7ff;
  --theme-2: #ffb86b;
  --theme-3: #2a2f45;
  --theme-4: #8b5cf6;
  --theme-bg: #f1f5ff;
  --theme-fg: #1f1a2a;

  --custom-bg: #f1f5ff;
  --custom-fg: #1f1a2a;
}
