@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CommonFont';
  src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFont';
  src: url('/fonts/SB 어그로 B.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CommonFont', sans-serif;
}