@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CommonFont';
  src: url('/fonts/Pretendard-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFontBlack';
  src: url('/fonts/Hakgyoansim Puzzle TTF Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TitleEngFontOutline';
  src: url('/fonts/Hakgyoansim Puzzle TTF Outline.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RiaSansFont';
  src: url('/fonts/RiaSans-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'CommonFont', sans-serif;
}

* {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
}

:root {
  --theme-1: #f6f1e3;
  --theme-1-5: #f5e8b6;
  --theme-2: #faad1a;
  --theme-3: #344c36;
  --theme-4: #3b82f6;
  --theme-bg: #ffffff;
  --theme-fg: #1f2937;

  --custom-bg: #f5efe6;
  --custom-fg: #2e2a26;
}

.dark {
  --theme-1: #1f262e;
  --theme-1-5: #273038;
  --theme-2: #e3a01c;
  --theme-3: #202a24;
  --theme-4: #7aa6ff;
  --theme-bg: #1f262e;
  --theme-fg: #e2e4e4;
}

.theme-custom {
  --theme-1: #faf8f4;
  --theme-1-5: #e8e4db;
  --theme-2: #eecd9e;
  --theme-3: #78716c;
  --theme-4: #1e6f53;
  --theme-bg: #f9f7f5;
  --theme-fg: #2d2926;

  --custom-bg: #f9f7f5;
  --custom-fg: #2d2926;
}